*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width:1200px;
  margin: 0 auto;
} 
header{
  background-color:pink;
}
.app{
  height:150px;
  padding-block:20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form{
  display: flex;
  gap: 10px;
}
form input{
  outline: none;
  padding: 6px 16px;
}
form button{
  padding: 6px 16px;
  border: none;
  color:green;
  border: 1px solid green;
}
